body{
    margin: 0;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 6px;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: gray;
    border-radius: 10px;
  }

.main-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:85vh;
}

#escola{
    width: 46vw;
    height: auto;
    float: right;
}

#text-main{
    color: rgb(102, 2, 2);
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    margin-left: 2em;
}
#text-sub{
    color: rgb(102, 2, 2);
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    margin-left: 2.5em;
    margin-top: -0.5em;
}

#sobre{
    display: flex;
    flex-direction: column;
    margin-top: 2px;
    background-color: rgb(78, 1, 1);
    height: 60vh;
}

#title{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 2rem;
    text-align: center;
    margin-top: 2em;
}

#desc{
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin: 2em;
    line-height: 1.5em;
}

#icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    margin-top: 1em;
}
.icon{
    width: 4vw;
    height: auto;
}